<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
    xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0 http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

  <config-description uri="bridge-type:digitalstrom:config">
	<parameter name="dSUID" type="text">
		<label>Device UID</label>
		<description>The device identifier identifies one DigitalStrom device.</description>
		<required>true</required>
	</parameter><!--deviceName-->
	<parameter name="deviceName" type="text">
		<label>Device Name</label>
		<description>The Name of a DigitalStrom device.</description>
	</parameter>
  </config-description>

</config-description:config-descriptions>
